# 数据科学大作业

In [47]:
import numpy as np
import pandas as pd
import random

np.random.seed(666)

## 1. 读取数据 & 数据清理

### 数据读取

In [3]:
df = pd.read_csv('adult.txt')
df.columns = [
    "age", "work_class", "fnlwgt", "education", "education_num",
    "marital_status", "occupation", "relationship", "race", "sex",
    "capital_gain", "capital_loss", "hours_per_week", "native_country", "income"
]
print(df.sample(5, random_state=666))

       age work_class  fnlwgt      education  education_num  marital_status  \
37391   36    Private  228652   Some-college             10        Divorced
23684   24    Private  249046      Bachelors             13   Never-married
47602   55    Private  173832        Masters             14        Divorced
3192    71    Private  157909   Some-college             10   Never-married
22276   39    Private   98776   Some-college             10        Divorced

               occupation    relationship    race      sex  capital_gain  \
37391   Machine-op-inspct       Own-child   Other     Male             0
23684        Tech-support       Own-child   White     Male             0
47602               Sales   Not-in-family   White     Male         10520
3192        Other-service   Not-in-family   White   Female          2964
22276     Exec-managerial   Not-in-family   White     Male             0

       capital_loss  hours_per_week  native_country   income
37391             0              40          Mexico   <=50K.
23684             0              40   United-States    <=50K
47602             0              40   United-States    >50K.
3192              0              60   United-States    <=50K
22276             0              50   United-States     >50K

### 数据清理

In [54]:
with open('adult.txt', 'r') as f:
    raw_data = f.readlines()[1:]
    data = []

    for line in raw_data:
        line = line.strip().rstrip(',')
        data.append(line.split(', '))

#print(random.sample(data, 100))
miss = [0] * 5
del_list = []
for i, d in enumerate(data):
    nan = d.count('?')
    if nan > 0:
        del_list.append(i)
        miss[nan] += 1

print(miss)
print(len(del_list))

[0, 821, 2753, 46, 0]
3620

In [56]:
real_data = []
for i, d in enumerate(data):
    if not i in del_list:
        real_data.append(d)
    
print(len(real_data))
# for i, d in enumerate(real_data):
#     nan = d.count('?')
#     if nan > 0:
#         print(d)

45222